nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */

nav .navbar-brand .red
{
    color: #ea433b;
}



main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

.jumbotron {
    background-color: #301934;
    color: #fff;
    width: 100%;

  }

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
  .person:hover {
    border-color: #f1f1f1;
  }

  .container {
    padding: 80px 120px;
  }

 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.cards{
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  padding: 12px;
  outline: 0;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}
