{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}

  <div class="jumbotron text-center">
  <h1>Sassora</h1>
  <p>We specialize in leather handbags, wallets and many more products.</p>
  <p>A venture by Leatherman Fashion Private Ltd.</p>
</div>

<div id="band" class="container text-center " >
  <h3>ABOUT US</h3>
  <p><em>We are a SA8000 Certified Company</em></p>
  <p>Leatherman Fashion (P) Ltd was founded in 1972 by
  Mr. R.K Jalan . Since then it has been recognized as a first class manufacturing and export house of leather bags,
  wallets and a variety of other fashionable accessories like purses, credit card holders, passport holders, key cases , coin boxes, bill folds etc.
  </p>
  <p>
      Sassora is one of the new ventures of this company. We plan to take our company into the online platform through this website.
      Exquisite and stylish bags are all here to captivate you just at one look. There is a huge range of bags and other accessories available at our fashion world.
      We provide you with the latest designs that are distinct in appearances.
      All the fashion accessories are available at different sizes, shapes and fascinating colors.
  </p>
  <br>
    <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Rajendra Kumar Jalan</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="static/WhatsApp Image 2021-11-29 at 10.52.07 PM.jpeg" class="img-circle person" alt="Rajendra Kumar Jalan" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>Founder</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Sumit Jalan</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="static/dad.jpeg" class="img-circle person" alt="Sumit Jalan" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>CEO</p>
      </div>
    </div>
        <div class="col-sm-4">
      <p class="text-center"><strong>Preeti Jalan</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="static/mom.jpeg" class="img-circle person" alt="Preeti Jalan" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>Director</p>
      </div>
    </div>
    </div>
</div>

{% endblock %}
